.AddProperty {
    padding: 2rem;
    align-items: vertical;
    display: flex;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1rem;
    box-sizing: border-box;
    width: 100%;
    justify-content: space-around;
    background-color: white;
}

input {
    margin: 1em;
    border: 2px solid #764971;
    width: 100%;
}

select {
    border: 2px solid #764971;
    margin: 1em;
    width: 100%;
}

button {
  background-color: #764971;
  color: white;
  padding: 5px;
  cursor: pointer;
  border-radius: 20rem;
  width: 5rem;
}

form {
    background-color: white;
}


