.nav {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
};

.logo {
  border-image: url('../images/logo.png');
  height: 4rem;
}

Link {
  cursor: pointer;
}    

.item {
  text-decoration: none;
}