.NavBar {
    background-color: white;
    border-bottom: grey;
};

.logo {
    border-image: url('../images/logo.png');
    height: 75px;
}

.nav {
    margin: 0;
    padding: 0;
}

.item {
    margin: 0;
    padding: 0px;
    display: inline-block;
}